body {
    background-color: #941589;
    color: rgb(19, 180, 67);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #040701;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    max-width: 50%;
}
main {
    text-align: center;
    max-width: 50%;
}
img {
    max-width: 90%;
}